/*header {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
}*/
#bonsai {
	max-width: 110px;
	margin-top: 10px;
	margin-left: 10px;
}
#bonsai2 {
	max-width: 110px;
	margin-left: 5px;
	padding-bottom: 20px;
}

#hamburger {
	float: right;
	margin-top: -10%;
}

.first {
	margin-top: -9%;
	padding: 15px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	/*background-color: #C0BCB5;*/
	background-image: url(https://cdn.stylepark.com/manufacturers/h/homapal/produkte/brushed-black/_1410xAUTO_fit_center-center_90/brushed-black-1.jpg);
	text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFf, -1px 1px 0 #FF9, 1px 1px 0 #FFF;
	color: #03256C;
	border-bottom: 8px solid black;
}

#tagline {
	text-align: center;
	margin-bottom: 5px;
	margin-top: -5px;
	font-size: 20px;
	color: white;
	text-shadow: none;
	font-family: "Poppins", sans-serif;
}

.fa {
	color: #03256C;
}

.icon {
	color: #03256C;
}

#about-us {
	color: white;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}
 
/*.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}*/

.owl-next:hover {
	color: black;
}

.box1 {
    background-color: rgba(211,211,211,.6);
    border-radius: 3px;
    padding: 15px;
    max-width: 31%;
    margin-top: 70px;
    margin-left: 30px;
 }

.price2 {
	font-size: 30px;
	padding: 1px;
}

.nav-link {
	display: inline;
	color: #03256C;
}
.nav-link:hover {
	background-color: rgba(79, 124, 172, 0.8);
	color: white;
	padding-bottom: 12px;
	border-radius: 3px;
}

.navi {
/*	position: fixed;
	z-index: 999;
	width: 100%;*/
	background-color: white;
	padding: 10px;
	margin-bottom: 2px;
/*	border: 1px solid black;*/
}
li {
	display: inline;
	margin-left: 9%;
}

.hero {
	/*margin-top: 180px;*/
}
.merry {
	display: block;
	margin-left: 1px;
}

.title {
	padding: 20px;
	margin-bottom: 12px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	background-color: #C0BCB5;
	color: #03256C;
	border-bottom: 8px solid black;
}


.woods {
	background-color: #C0BCB5;
	padding: 10px;
	border-radius: 3px;
}

.explain {
	background-color: rgba(79, 124, 172, 1);
	height: 150px;
	width: 60%;
	text-align: center;
	padding: 0;
}
.featured {
	margin-top: 50px;
	margin-left: 240px;
	font-size: 40px;
}

.some-padding {
	padding: 30px;
}
/*Category */

#shop-us {
	color: white;
}

#stop:hover {
	background-color: rgba(79, 124, 172, 0.8);
	border-color: #03256C;
}

#nope:hover {
	border: 3px solid #03256C;
	border-color: #03256C;
}

.title2 {
	padding: 20px;
	margin-bottom: 12px;
	margin-top: -50px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	background-color: #C0BCB5;
	color: #03256C;
	border-bottom: 8px solid black;
}

.text-muted {
    color: #868e96!important;
    font-size: 25px;
}

.title3 {
	padding: 8px;
	margin-bottom: 8px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	background-color: #C0BCB5;
	color: #03256C;
	border-bottom: 8px solid black;
	height: 60px;
}
.bowie {
	width: 600px;
}

/*Form*/

.submission {
	background-color: rgba(79, 124, 172, 0.8);
	
}

.submission:hover {
	background-color: rgba(79, 124, 172, 0.8);
	color: white;
}

.form {
	max-width: 500px;
	/*background-color: rgba(211,211,211,.1);
	border-radius: 5px;*/
}

.dropdown {
	margin-left: 20px;
}

.regular-checkbox {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 5px;
	margin-left: 5px;
	border-radius: 3px;
	display: inline-block;
	position: absolute;
}

.form-text {
 margin-left: 26px;
 margin-top: -3px;
}

.form-control {
	border-radius: 5px;
}

.form-control:click {
	border-color: blue;
}
label {
	margin-right: 10px;
}

.controls {
	border: 2px solid;
	border-radius: 3px;
	padding: 50px;
	margin-bottom: 40px;
	margin-left: -26%;
	width: 150%;
}

/*Details - Bowie*/

.fa-star-o:before {
	color: #03256C;
}
.fa-star-o:after {
	color: #03256C;
}

.blue:hover {
	background-color: #4F7CAC;
	border-color: #03256C;
}

.outline:hover {
	border-color: #03256C;
}

#bowie {
	max-height: 400px;
	width: 400px;
}

/*Contact*/

.contact {
	margin-top: 40px;
	padding: 20px;
}

.center {
	/*margin-left: 25%;*/
	width: 100%;
	margin-top: 30px;
}

.email {
	margin-bottom: 0px;
}
/*Shop*/

.breakdown {
	margin-top: 40px;
}

.lightbeam {
	margin-top: 8px;
	margin-bottom: 8px;
}

.lightbeam:hover {
	background-color: #4F7CBD;
	opacity: .8;
	max-width: 85%;
	color: white;
	border-radius: 3px;
	padding-left: 8px;
}

/*Thanks*/

.envi {
	float: left;
	margin-right: 10px;
}

.container2 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 70px;
	padding-left: 90px;
	width: 70%;
}

input {
	text-align: center;
	border-radius: 3px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
/*	width: 40%;
	height: 20%;*/
}







